@import "../../../styles/variables";

.card-link {
    h1, h2, h3, p, a {
        color: initial
    }

    &:hover {
        h1, h2, h3, p, a {
            text-decoration: none;
        }
    }
}

.card {
    border: none;
    overflow: hidden;
    transition: $transition;
    background-color: $card-bg;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    .card-body {
        padding: 1rem;
        overflow: hidden;
        transition: $transition;
    }
}

body.theme--dark .card {
    color: $white;
    background-color: $card-bg-dark !important;
}