// BOOTSTRAP OVERRIDING STYLES

@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 700px;
  margin-top: 3rem;
}

body {
  &.theme--dark {
    background-color: gray;
  }

  transition: background-color 0.2s;
}

@each $type, $color in $allTypes {
  .bg-#{$type} {
    background-color: $color;
  }

  .color-#{$type} {
    background-color: $color;
  }
}
