// BOOTSTRAP OVERRIDING STYLES

@import "variables";
@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 700px;
  margin-top: 3rem;

  &.wide {
    max-width: 1200px;
  }
}

body {
  &.theme--dark {
    background-color: $body-bg-dark;
  }

  transition: background-color 0.2s;
}

@each $type, $color in $allTypes {
  .bg-#{$type} {
    background-color: $color;
  }

  .bg-#{$type}--lighter {
    background-color: scale-color($color, $lightness: +30%) !important;
  }

  .color-#{$type} {
    color: $color !important;
  }

  .color-#{$type}--lighter {
    color: scale-color($color, $lightness: +20%) !important;
  }

  .bs-#{$type} {
    box-shadow: 0 0 5px 0 $color !important;
  }

  .bs-#{$type}--lighter {
    box-shadow: 0 0 5px 0 scale-color($color, $lightness: +20%) !important;
  }
}
