@import "variables";
@import "animations";

@mixin pokeball-colors($color, $secondary: $color) {
    &,
    &::before,
    div {
       background-color: scale-color($color, $lightness: +20%); 
    }

    &::after {
        background-color: $secondary
    }

    div {
        border-color: $secondary;
    }
}

@mixin load-anim($color) {
    overflow: hidden;
    width: fit-content;
    border-radius: 1rem;
    color: transparent !important;
    background-color: $color !important;

    &::before {
        top: 0;
        content: "";
        left: -150px;
        height: 100%;
        width: 150px;
        display: block;
        position: absolute;
        background: linear-gradient(
            to right,
            transparent 0%,
            #e8e8e8 50%,
            transparent 100%
        );
        animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
}