@import "variables";

@mixin pokeballColors($value, $secondary: $value) {
  &,
  &::before,
  .inner {
    background-color: scale-color($value, $lightness: +20%);
  }
  &::after {
    background-color: $secondary;
  }
  .inner {
    border-color: $secondary;
  }
}
