@import "mixins";
@import "variables";

.pokeball {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  top: 0.5rem;
  right: 0.5rem;

  &::before,
  &::after {
    content: "";
    width: 100%;
    position: absolute;
  }

  &::before {
    height: 50%;
  }

  &::after {
    left: 0;
    height: 10px;
    top: calc(50% - 5px);
  }

  &.inner {
    width: 40px;
    height: 40px;
    z-index: 10;
    border-width: 5px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transition: background-color 0.2s;
  }

  @each $type, $color in $allTypes {
    &_#{$type} {
      @include pokeballColors($color);
      composes: pokeball;
    }
  }
}

.link {
  &:hover {
    &,
    p {
      text-decoration: none;
    }
  }
}
