@import "variables";

.card {
  width: 100%;
  height: 100%;
  height: 60vh;
  position: relative;

  .image {
    width: 10rem;
    margin: 0 auto;
  }

  .type {
    color: #fff;
    padding: 0.3rem 0;
    text-align: center;
    border-radius: 0.8rem;
  }

  .pane {
    padding: 1rem 0;
  }
}

.leftCard {
  composes: card;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rightCard {
  composes: card;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabs {
  left: 1rem;
  top: -3.9rem;
  position: absolute;

  .tab {
    color: #fff;
    border-color: #e9ecef #e9ecef #dee2e6;
  }
}
