@import "variables";

.card {
  height: 70vh;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  &Split {
    height: 100%;
    border: none;
    border-radius: 0;
  }

  &SplitDark {
    @extend .cardSplit;
    background-color: $card-bg-dark;
  }

  &LargeText {
    margin: 0;
    color: white;
    font-size: 2.5rem;
  }

  &SmallText {
    color: white;
    font-size: 0.8rem;
  }

  &Image {
    z-index: 11;
    width: 20rem;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
  }

  &Tabs {
    a {
      border: none !important;
      letter-spacing: 0.2rem;
      background-color: transparent !important;
    }

    &Content {
      padding: 1rem 0;

      &Heading {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  &Pokeball {
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    margin: auto;
    width: 25rem;
    height: 25rem;

    div {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 20rem;
      height: 20rem;
      border-width: 2rem;
    }

    &::after {
      height: 2rem;
      top: calc(50% - 1rem);
    }
  }

  &Ability {
    margin-top: 1rem;

    h4 {
      font-size: 1.2rem;
    }
  }

  &Stat {
    align-items: center;
    margin-bottom: 1rem;

    &Bar {
      width: 100%;
      height: 1rem;
      overflow: hidden;
      position: relative;
      border-radius: 1rem;

      &::before {
        width: 20%;
        content: " ";
        height: 100%;
        display: block;
        position: relative;
        border-radius: 1rem;
      }

      @each $type, $color in $allTypes {
        &Type#{$type} {
          background-color: scale-color($color: $color, $lightness: +20%);

          &::before {
            background-color: $color;
          }
        }
      }
    }

    p {
      margin: 0;
    }
  }

  &Type {
  }
}
