@import "mixins";
@import "variables";
@import "animations";

.link {
  p {
    color: initial;
  }

  &:hover {
    &,
    p {
      text-decoration: none;
    }
  }
}

.card {
  border: none;
  width: 14rem;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $breakpoint-mobile) {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &:hover {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);

    .image {
      margin-top: -0.5rem;
    }
  }

  .pokeball {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    top: 0.5rem;
    right: 0.5rem;

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
    }

    &::before {
      height: 50%;
    }

    &::after {
      left: 0;
      height: 10px;
      top: calc(50% - 5px);
    }

    .inner {
      width: 40px;
      height: 40px;
      z-index: 10;
      border-width: 5px;
      position: absolute;
      border-radius: 50%;
      border-style: solid;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      transition: background-color 0.2s;
    }
  }

  p {
    margin: 0;
    transition: color 0.2s;
  }

  .body {
    height: 10rem;
    padding: 0.5rem;
    overflow: hidden;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    transition: background-color 0.2s;
  }

  .id {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .name {
    font-size: 1.2rem;
    text-align: center;
  }

  .image {
    opacity: 0;
    width: 8rem;
    margin: 0 auto;
    display: block;
    transition: 0.2s all ease;
  }

  .loaded {
    opacity: 1;
    animation-name: fadeup;
    animation-duration: 0.5s;
  }

  .types {
    margin-top: 0.5rem;

    p {
      font-size: 0.8rem;
      text-align: center;
      width: fit-content;
      margin: 0 auto;
      padding: 0.2rem 0.5rem;
      border-radius: 0.8rem;
      color: white;
    }
  }

  .footer {
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

@each $type, $color in $allTypes {
  .#{$type} {
    composes: card;

    .body {
      background-color: $color;
    }

    .pokeball {
      @include pokeballColors($color);
    }
  }

  .#{$type}--dark {
    composes: card;

    &,
    .body {
      background-color: gray;
    }

    p {
      color: #fff;
    }

    .pokeball {
      @include pokeballColors($color, gray);
    }
  }
}
