@import "animations";

.skeleton {
  &.centered {
    margin: 0 auto;
  }

  color: #d4d0d0;
  padding: 0 0.5rem;
  overflow: hidden;
  width: fit-content;
  position: relative;
  border-radius: 0.8rem;
  background-color: #d4d0d0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      #e8e8e8 50%,
      transparent 100%
    );
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
