.row-generations {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 800px;
}

.gen-card {
  cursor: pointer;

  a {
    color: initial;
    text-decoration: none;
  }

  &-circles {
    padding: 0;
    padding-left: 0.5rem;

    &.gen-i {
      .circle {
        background-color: #e74c3c;

        &:last-child {
          background-color: #2cc990;
        }
      }
    }

    &.gen-ii {
      .circle {
        background-color: #e0ca3c;

        &:last-child {
          background-color: #cdcdcd;
        }
      }
    }

    &.gen-iii {
      .circle {
        background-color: #cc2c20;

        &:last-child {
          background-color: #236eb1;
        }
      }
    }

    &.gen-iv {
      .circle {
        background-color: #b9f2ff;

        &:last-child {
          background-color: #fddcd9;
        }
      }
    }

    &.gen-v {
      .circle {
        background-color: #0a0606;

        &:last-child {
          background-color: #fcf6f6;
        }
      }
    }

    &.gen-vi {
      .circle {
        background-color: #17537b;

        &:last-child {
          background-color: #d02140;
        }
      }
    }

    &.gen-vii {
      .circle {
        background-color: #f99f31;

        &:last-child {
          background-color: #1195d3;
        }
      }
    }

    &.gen-viii {
      .circle {
        background-color: #00a2e3;

        &:last-child {
          background-color: #e20058;
        }
      }
    }

    .circle {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: inline-block;
      background-color: blue;

      &:last-child {
        margin-left: -1rem;
        background-color: red;
      }
    }
  }

  &-detail {
    padding: 0;

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
