.card {
  border: none;
  margin: 1rem 0;
  border-radius: 0.2rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.02);

  &:hover {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &.generation-card {
    cursor: pointer;

    a {
      color: initial;
      text-decoration: none;
    }

    .circles {
      padding: 0;
      padding-left: 0.5rem;

      .circle {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;

        &:last-child {
          margin-left: -1rem;
        }
      }
    }

    .detail {
      padding: 0;

      h2,
      p {
        margin: 0;
      }

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }

      span {
        font-size: 0.5rem;
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  }

  &.pokemon-card {
    &.small {
      cursor: pointer;
    }
  }
}
