@import "../../styles/variables";

body.theme--dark .nav-button {
  background-color: $card-bg-dark;
}

.nav-button {
  width: 5rem;
  display: flex;
  position: relative;
  border-radius: 2rem;
  transition: $transition;
  background-color: $card-bg;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }

  img {
    height: 5rem;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.left {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 2rem;

    img {
      margin-left: 0.4rem;
    }
  }

  &.right {
    margin-left: auto;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 2rem;

    img {
      margin-right: 0.4rem;
    }
  }
}
