@import "../../styles/mixins";
@import "../../styles/variables";

@each $type, $color in $allTypes {
    body {
        &.theme--light .pokeball.type-#{$type} {
            @include pokeball-colors($color)
        }

        &.theme--dark .pokeball.type-#{$type} {
            @include pokeball-colors($color, $card-bg-dark)
        }
    }
}

.pokeball {
    width: 70px;
    top: 0.5rem;
    height: 70px;
    right: 0.5rem;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;

    &::before,
    &::after {
        content: "";
        width: 100%;
        position: absolute;
    }

    &::before {
        height: 50%;
    }

    &::after {
        left: 0;
        height: 10px;
        top: calc(50% - 5px);
    }

    div {
        width: 40px;
        height: 40px;
        z-index: 10;
        border-width: 5px;
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        transition: $transition;
      }
}