@import "../../styles/variables";

body.theme--dark .search-control {
  background-color: $card-bg-dark;

  input {
    &,
    &::placeholder {
      color: $white;
    }
  }
}

.search-control {
  padding: .5rem;
  margin-top: 1rem;
  margin-left: auto;
  width: fit-content;
  border-radius: 3rem;
  transition: $transition;
  background-color: $white;
  background-color: $card-bg;
  border: 1px solid transparent;
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.1);

  &.invalid {
    border-color: $error;
  }

  .form-control {
    &,
    &:valid,
    &:invalid {
      padding-right: initial;

      &:focus {
        box-shadow: none;
      }
    }

    &:valid {
      background: none;
    }

    background-color: transparent;
  }

  .invalid-feedback {
    top: -1rem;
    position: absolute;
  }

  input {
    border: none;


    &:focus {
      box-shadow: none;
    }
  }

  button {
    border-radius: 3rem;
    padding: 0.2rem .5rem;
  }
}