// BOOTSTRAP OVERRIDING STYLES

$body-bg: #fbfbfb;

$red: #e74c3c;
$green: #2cc990;
$blue: #005099;
$gold: #e0ca3c;
$silver: #cdcdcd;
$ruby: #cc2c20;
$sapphire: #236eb1;
$diamond: #b9f2ff;
$pearl: #fddcd9;
$black: #0a0606;
$x: #17537b;
$y: #d02140;
$sun: #f99f31;
$moon: #1195d3;
$sword: #00a2e3;
$shield: #e20058;

$pokemon-versions: (
  "red": $red,
  "green": $green,
  "blue": $blue,
  "gold": $gold,
  "silver": $silver,
  "ruby": $ruby,
  "sapphire": $sapphire,
  "diamond": $diamond,
  "pearl": $pearl,
  "black": $black,
  "white": #fcf6f6,
  "x": $x,
  "y": $y,
  "sun": $sun,
  "moon": $moon,
  "sword": $sword,
  "shield": $shield,
);

@each $version, $color in $pokemon-versions {
  .v-color-#{$version} {
    color: #{$color};
  }

  .v-bg-#{$version} {
    background-color: #{$color};
  }
}

@import "~bootstrap/scss/bootstrap";
