@import "../../../styles/variables";

body.theme--dark .detail-tabs a.active {
  color: $white !important;
}

.detail-tabs {
  margin-bottom: 1rem;
  justify-content: center;

  a {
    font-weight: bold;
    border: none !important;
    letter-spacing: 0.2rem;
    background-color: transparent !important;

    &.active {
      color: $card-bg-dark !important;
    }
  }
}
