.profile-tab {
  .profile-section {
    h1 {
      font-weight: 600;
      font-size: 1rem;
      color: #6c757d;
      letter-spacing: 0.1rem;
    }

    .row {
      margin-left: 2rem;
      margin-bottom: 2rem;
    }
  }

  .profile-ability-section {
    margin-top: 1rem;

    h1 {
      font-size: 1.2rem;
    }
  }
}
